{% extends "layouts/base.html" %}

{% block head %}

    {% include 'includes/header.html' %}

    {% include 'boots3/css.html' %}

{% endblock %}

{% block body %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'includes/bread-crumb.html' %}
        </div>
      </div>
    </div>

    <article class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="page-header">
            <h1>{{ page.title }} <br /><small>{{ page.description }}</small></h1>
          </div>
            {{ content | raw }}
        </div>
        <div class="col-md-3 hidden-xs">
          <p>Neste capítulo...</p>
          {% include '/includes/menu.html' with {'menu': page.menu}  %}
          <p class="text-center">
            <a class="btn btn-default" href="../">Índice</a>
          </p>
        </div>
      </div>
    </article>

    {% include 'includes/nav-next-prev.html' %}

    <hr />

    {% include 'includes/disqus.html' %}

    {% include 'includes/footer.html' %}
    {% include 'includes/footer-js.html' %}

{% endblock %}
