{% extends "layouts/base.html" %}

{% block head %}

    {% include 'includes/header.html' %}
    {% include 'includes/header-og.html' %}
    {% include 'skeleton204/css.html' %}

    <style>
        h1 {
            font-size: 4.2rem;
        }
        h2 {
            font-size: 2.6rem;
            margin-top: 3em;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="container">

        <section class="header">
            <div class="start">Quer estar preparado para o mercado de trabalho ?</div>
            <h1 class="title">{{ page.title }}</h1>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/3WBYWHPVyyQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
            <p>Garanta já sua vaga!</p>
            <form action="{{ base_url() }}{{ site.url.mailinglist }}">
                <input type="hidden" value="{{ utm.source }}" name="utm_source"/>
                <input type="hidden" value="{{ utm.campaign}}" name="utm_campaign"/>
                <input type="hidden" value="{{ utm.medium }}" name="utm_medium"/>
                <label><input type="text" value="" name="nome" placeholder="primeiro nome" style="width: 250px" /></label>
                <label><input type="text" value="" name="email" placeholder="seu melhor email" style="width: 250px" /></label>
                <button type="submit"class="button button-primary">Pré inscrição</button>
            </form>
        </section>

        <div class="row">
            <div class="ten columns">
                {{ content | raw }}
            </div>
        </div>
    </div>

{% endblock %}
