{% extends "layouts/base.html" %}

{% block head %}

    {% include 'includes/header.html' %}
    {% include 'includes/header-og.html' %}

    {% include 'clean/css.html' %}

{% endblock %}

{% block body %}

    <!-- Preloader -->
    <div id="preloader"><div id="status"></div></div>

    <!-- Home start -->
    <section id="home" class="pfblock-image screen-height artigos">
        <div class="home-overlay"></div>
        <div class="intro">
            <h1>{{ page.title }} <br /><small>{{ page.description }}</small></h1>
            <!-- <div class="start">Quer estar preparado para o mercado de trabalho ?</div> -->

            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3WBYWHPVyyQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </p>

            <br />
            <br />
            <br />

            <p><a class="btn btn-success" href="{{ base_url() }}/cursos/logica-de-programacao-aliada-a-testes-unitarios-proxima-edicao/?utm_source=devfuria.com.br&utm_campaign=matriculas&utm_medium=index-sobre" role="button">ok, realizar pré inscrição!!!</a></p>
        </div>

        <!-- Button -->
        <a href="#conteudo"><div class="scroll-down"><span><i class="fa fa-angle-down fa-2x"></i></span></div></a>
    </section>
    <!-- Home end -->

    <article id="conteudo" class="container">
        {{ content | raw }}

        <br />
        <br />
        <br />

    </article>

    {% include 'includes/disqus.html' %}

    {% include 'includes/footer.html' %}
    {% include 'includes/footer-js.html' %}

    {% include 'clean/js.html' %}

{% endblock %}
