{% extends "layouts/base.html" %}

{% block head %}

    {% include 'includes/header.html' %}
    {% include 'includes/header-og.html' %}

    {% include 'clean/css.html' %}

{% endblock %}

{% block body %}

    <!-- Preloader -->
    <div id="preloader"><div id="status"></div></div>

    <!-- Home start -->
    <section id="home" class="pfblock-image screen-height artigos">
        <div class="home-overlay"></div>
        <div class="intro">
            <h1>{{ page.title }} <br /><small>{{ page.description }}</small></h1>
            <div class="start"></div>
            <p><small>Primeira Edição (Fevereiro/2018)</small></p>

            <p>Se inscreva para a próxima turma e não perca nenhuma novidade !!!!</p>
            <p><a class="btn btn-primary" href="{{ base_url() }}/cursos/logica-de-programacao-aliada-a-testes-unitarios-proxima-edicao.php?utm_source=devfuria.com.br&utm_campaign=matriculas&utm_medium=index-curso" role="button">Próxima Turma!!!</a></p>

            <!-- <p>Cadastre seu email e descubra mais detalhes sobre este curso!</p> -->
            <!-- <p><a class="btn btn-primary" href="https://goo.gl/forms/LCWvmFIUr747EXai2" role="button">Cadastre-se aqui!!!</a></p> -->
        </div>

        <!-- Button -->
        <a href="#conteudo"><div class="scroll-down"><span><i class="fa fa-angle-down fa-2x"></i></span></div></a>
    </section>
    <!-- Home end -->

    <article id="conteudo" class="container">
        {{ content | raw }}
    </article>

    {% include 'includes/disqus.html' %}

    {% include 'includes/footer.html' %}
    {% include 'includes/footer-js.html' %}

    {% include 'clean/js.html' %}

{% endblock %}
