<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4>Rápida apresentação</h4>
    <p>Este artigo compõem a série de exercícios da seção  lógica de programação  do site devfuria.</p>
    <p>Ele é diferente de tudo o que você já viu ou ouviu falar sobre curso de lógica da programação.</p>
    <p>Nós unimos o poder dos testes unitários aos exercícios de lógica,</p>
    <p>
        Além disso, utilizamos 3 linguagens de programação:
        <strong>C</strong>,
        <strong>Python</strong> e
        <strong>JavaScript (Node.js)</strong>.
    </p>
    <p>Doravante, vamos direto para a prática e não perdemos tempo com teorias sobre lógica pois você as encontrará na web com facilidade e abundância.</p>
    <p>Talvez você precise ler os artigos introdutórios listados na index <a href="/logica-de-programacao/">Lógica de Programação</a>, mas caso precise de ajuda, utilize os comentários no final do artigo.</p>
    <p>Bons estudos!</p>
</div>