<div class="alert alert-info alert-dismissible text-center" role="alert">
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/N6TmF9EyLwQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br />
    <p>Cadastre seu email para saber mais detalhes do curso...</p>
    <br />
    <p><a class="btn btn-primary" href="/logica-de-programacao/curso-de-logica.php?utm_source=devfuria.com.br&utm_campaign=logica-jan-2018&utm_medium={{ page.title }}" role="button">Cadastre aqui!!!</a></p>
    
</div>