<div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><small>advertising space</small></p>
    <h2>Curso de Lógica de Programação</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/N6TmF9EyLwQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Cadastre seu email para saber mais detalhes do curso...</p>
    <p>Conheça e curta nossa <a href="https://www.facebook.com/devfuria/">página no Facebook!</a></p>
    <p><a class="btn btn-primary" href="/logica-de-programacao/curso-de-logica.php?utm_source=devfuria.com.br&utm_campaign=logica-jan-2018&utm_medium={{ page.title }}" role="button">Cadastre aqui!!!</a></p>
</div>