
RewriteOptions inherit

RewriteEngine on

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^php\/nivel\-zero\/instalando\-o\-ambiente\/?$ "http\:\/\/www\.devfuria\.com\.br\/php\/basico\/instalando\-o\-ambiente\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^old\/php\/nivel\-zero\/logica\-de\-programacao\/?$ "http\:\/\/www\.devfuria\.com\.br\/php\/basico\/logica\-de\-programacao\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^old\/?$ "http\:\/\/www\.devfuria\.com\.br\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/math\-random\-numero\-randomico\-em\-javascript\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/gerar\-numero\-randomico\-entre\-2\-numeros\-quaisquer\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/window\-object\-global\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/objeto\-global\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/canvas\/aprendendo-canvas-introducao\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/introducao\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/canvas\/lineTo-moveTo\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/lineto-moveto\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/canvas\/line-width\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/line-width\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/canvas\/lineJoin-miter-round-bevel\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/linejoin-miter-round-bevel\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/canvas\/lineCap-butt-round-square\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/linecap-butt-round-square\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/canvas\/paths\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/paths\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^js\/canvas\/rect-strokeRect-fillRect\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/rect-strokerect-fillrect\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^regexp\/basico\/preg\-match\-all\/?$ "http\:\/\/www\.devfuria\.com\.br\/php\/preg\-match\-all\-basico\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^regexp\/basico\/preg\-match\/?$ "http\:\/\/www\.devfuria\.com\.br\/php\/preg\-match\-basico\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^mysql-sql\/basico\/intro\/?$ "http\:\/\/www\.devfuria\.com\.br\/mysql-sql\/intro\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^
RewriteRule ^flavio.alexandre-micheletti.php "http\:\/\/www\.devfuria\.com\.br\/flavio-alexandre-micheletti.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^
RewriteRule ^index.php "http\:\/\/www\.devfuria\.com\.br" [R=301,L]
