RewriteOptions inherit
RewriteEngine on
RewriteCond %{HTTP_HOST} ^.*$

RewriteRule ^old\/?$ "http\:\/\/www\.devfuria\.com\.br\/" [R=301,L]
RewriteRule ^index.php "http\:\/\/www\.devfuria\.com\.br" [R=301,L]
RewriteRule ^flavio.alexandre-micheletti.php "http\:\/\/www\.devfuria\.com\.br\/flavio-alexandre-micheletti.html" [R=301,L]

RewriteRule ^old\/php\/nivel\-zero\/logica\-de\-programacao\/?$ "http\:\/\/www\.devfuria\.com\.br\/php\/basico\/logica\-de\-programacao\/" [R=301,L]
RewriteRule ^logica\-de\-programacao\/basico\/intro\/?$ "http\:\/\/www\.devfuria\.com\.br\/logica\-de\-programacao\/" [R=301,L]

RewriteRule ^php\/nivel\-zero\/instalando\-o\-ambiente\/?$ "http\:\/\/www\.devfuria\.com\.br\/php\/basico\/instalando\-o\-ambiente\/" [R=301,L]

RewriteRule ^js\/math\-random\-numero\-randomico\-em\-javascript\/?$ "http\:\/\/www\.devfuria\.com\.br\/javascript\/gerar\-numero\-randomico\-entre\-2\-numeros\-quaisquer\/" [R=301,L]
RewriteRule ^js\/window\-object\-global\/?$                          "http\:\/\/www\.devfuria\.com\.br\/javascript\/objeto\-global\/" [R=301,L]
RewriteRule ^js\/window\-object\/?$                                  "http\:\/\/www\.devfuria\.com\.br\/javascript\/objeto\-global\/" [R=301,L]
RewriteRule ^js\/canvas\/aprendendo-canvas-introducao\/?$            "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/introducao\/" [R=301,L]
RewriteRule ^js\/canvas\/lineTo-moveTo\/?$                           "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/lineto-moveto\/" [R=301,L]
RewriteRule ^js\/canvas\/line-width\/?$                              "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/line-width\/" [R=301,L]
RewriteRule ^js\/canvas\/lineJoin-miter-round-bevel\/?$              "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/linejoin-miter-round-bevel\/" [R=301,L]
RewriteRule ^js\/canvas\/lineCap-butt-round-square\/?$               "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/linecap-butt-round-square\/" [R=301,L]
RewriteRule ^js\/canvas\/paths\/?$                                   "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/paths\/" [R=301,L]
RewriteRule ^js\/canvas\/rect-strokeRect-fillRect\/?$                "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/rect-strokerect-fillrect\/" [R=301,L]
RewriteRule ^js\/canvas\/canvas-linhas-rando-coloridas\/?$           "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/col-linhas-rando\/" [R=301,L]
RewriteRule ^js\/canvas\/canvas-grid/\/?$                            "http\:\/\/www\.devfuria\.com\.br\/javascript\/canvas\/col-linhas-grade\/" [R=301,L]

RewriteRule ^regexp\/basico\/preg\-match\-all\/?$ "http\:\/\/www\.devfuria\.com\.br\/php\/preg\-match\-all\-basico\/" [R=301,L]
RewriteRule ^regexp\/basico\/preg\-match\/?$      "http\:\/\/www\.devfuria\.com\.br\/php\/preg\-match\-basico\/" [R=301,L]

RewriteRule ^mysql-sql\/basico\/crud\/?$                  "http\:\/\/www\.devfuria\.com\.br\/sql\/mysql-crud\/" [R=301,L]
RewriteRule ^mysql-sql\/basico\/primeiros-passos\/?$      "http\:\/\/www\.devfuria\.com\.br\/sql\/" [R=301,L]
RewriteRule ^mysql-sql\/basico\/primeiros-passos-mysql/?$ "http\:\/\/www\.devfuria\.com\.br\/sql\/" [R=301,L]
RewriteRule ^mysql-sql\/basico\/intro\/?$                 "http\:\/\/www\.devfuria\.com\.br\/sql\/intro\/" [R=301,L]
RewriteRule ^mysql-sql\/intro\/?$                         "http\:\/\/www\.devfuria\.com\.br\/sql\/intro\/" [R=301,L]
RewriteRule ^mysql-sql\/?$                                "http\:\/\/www\.devfuria\.com\.br\/sql\/" [R=301,L]