/* Útil
===================================================*/
.clear {
    clear: both;
}

  
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
    body.respiro-em-baixo {
        padding-bottom: 60px;
    }    
    .breadcrumb {
        margin: 15px 0px;
    }
    .container {
        padding: 5px 20px;
    }
    .container.sombra {
        box-shadow: 4px 5px 10px;
        -webkit-box-shadow: 4px 5px 10px #000000;
    }    
    
}

/* Botão à direita na nav */
.direita {
    float: right;
    margin-right: 50px;

}

/* container som borda*/
.sem_borda {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* Matéria
===================================================*/
article h2, article h3 {
    margin-top: 100px;
}
article p {
    margin: 15px 0px;
    line-height: 18px;
    text-indent:50px;
    text-align: justify;
}
article p em {
    font-weight: 900;
}
article p.fim {
    text-indent:0px;
    margin-top: 50px;
    margin-bottom: 0px;
    border-bottom: 1px solid #000;
    height: 20px;
}
article span.fim-e {
    float: left;
}
article span.fim-d {
    float: right;
}

/* Links dentro do artigo
===================================================*/
article p a:link, article p a:visited {
    text-decoration: underline;
}

/* Imagens
===================================================*/
article div img {
    border: none;
    margin: 15px 0px;
}
article div.imagem {/* Parágrafo contendo imagem */
    text-indent: 0px;
    text-align: center;
}
article div.imagem p {/* Comentários das figuras */
    display: block;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    color: #333;
    margin: 0px;
}
article div.imagem p a {/* Link da fonte (das figuras) */
    font-size: 12px;
    color: #333;
}

/* Sitações
===================================================*/
blockquote {
    margin: 0px 0px 0px 40%;
    padding: 0 10px;
    font-style: italic;
    font-size: 12px;
    color: #767676;
}
.blockquote-inline {
    font-style: italic;
    color: #767676;
}

/* Codes
===================================================*/
article div.code {
    color: #000;
    margin: 15px 0px;
}
article div.code h6 {
    background-color: #BBB;
    color: #767676;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;
}
article div.code pre {
    background-color: #EEE;
    padding: 10px;
    line-height: 16px;
    color: #000;
    font-size: 12px;
    font-family: monospace;
    border-radius: 0px;
    margin-bottom: 0px;
}
article div.code pre.scroll {
    overflow-x: scroll;
}
article div.code pre em{
    font-weight: 900;
}


/* Leitura Sugerida
===================================================*/
article dl {
    width: 98%;
}
article dt {
    margin-left: 33px;
    margin-top: 25px;
    display: block;
    color: #0093D8;
    font-size: 16px;
}
article dd {
    margin-left: 50px;
    margin-top: 20px;
    display: list-item;
    list-style: disc outside none;
    text-align: justify;
}
article dd em {
    font-weight: 900;
}
article dd a {
    display: block;
    padding-top: 6px;
    color: #FF0000;
}
article dd a:hover {
    background-color: #fff;
}



/* Tree view
===================================================*/
div.furia-tree {
    padding: 20px;
    box-shadow: 1px 1px 3px #767676;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    margin-bottom: 30px;
}
div.furia-tree.parcial {
    margin: auto;
    margin-top: 40px;
}
div.furia-tree h5 {
    margin: 0px 0px 10px 0px;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
}
div.furia-tree h6 {
    margin: 0;
    font-weight: 900;
    font-size: 14px;
}
div.furia-tree a {
    color: #767676;
    display: block;
    line-height: 25px;
}
div.furia-tree a:hover {
    color: #003366;
}
div.furia-tree a .atual {
    color: #AFC6E9;
}
div.furia-tree a:hover {
    text-decoration: none;
}

/* Controle expandir/contrair*/
div.furia-tree #treecontrol {
    -float: right;
}
div.furia-tree #treecontrol a {
    color: #767676;
    float: right;
    margin-left: 30px;
    padding: 10px;
}
div.furia-tree #treecontrol a img{
    padding-bottom: 2px;
    padding-right: 5px;
}
div.furia-tree #treecontrol a:hover{
    background-color: #FFF;
    color: red;
}
/*file: jquery,treeview.css */
/*line 70*/.filetree li { padding: 0px 0px 10px 16px; }
/*line 74*/.filetree span.file { background-position: 0px 6px }




/* Feedback
===================================================*/
div.furia-feedback {
    text-align: center;
    margin-top: 40px;
}
div.furia-feedback h6 {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 14px;
}
div.furia-feedback p {
}


/* Rodapé
===================================================*/
div.rodape {
    background-image: url("../imagens/dblue071.jpg");
    box-shadow: 0 10px 10px 10px #000000;
    height: 600px;
}
div.rodape p {
    color: #FFF;
}