<!-- Navigation start -->
<header class="header">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#home">DevFuria</a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="/#home">Home</a></li>-->
                    <li><a href="/#categorias">Categorias</a></li>
                    <li><a href="{{ page.category.url }}">{{ page.category.label }}</a></li>
                    {% comment %}

                    Mostramos o menu "esta série" apenas se houver série.
                    Aqui é que descobrimos quais são as matérias anterior e posterior.
                    As variáveis "artigo_next" e "artigo_prev" são utilizados pelo include "series-next-prev"

                    {% endcomment %}                    
                    {% if page.serie %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Esta série<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% include get-serie.html page_serie=page.serie%}
                            {% for artigo in serie  %}
                                {% assign index_next = forloop.index0 | plus: 1 %}
                                {% assign index_prev = forloop.index0 | minus: 1 %}
                                {% if artigo.url == page.url %}
                                    {% assign artigo_next = serie[index_next] %}
                                    {% assign artigo_prev = serie[index_prev] %}
                                    <li><a href="{{ artigo.url }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ artigo.title }}</a></li>
                                    {% else %}
                                    <li><a href="{{ artigo.url }}"> {{ artigo.title }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Navigation end -->