<!-- Home start -->
<section id="home" class="pfblock-image screen-height artigos">
    <div class="home-overlay"></div>
    <div class="intro">
        <h1>{{ page.title }}</h1>
        <div class="start">{{page.description}}</div>
        <p>
            <small>
                {% if page.date %}
                {{ page.date | date: "%b-%Y" }}
                {{ "•"}}
                {% endif %}
                {% if page.author %}
                {{ page.author }}
                {{ "•"}}
                {% endif %}
            </small>
        </p>
    </div>

    <!-- Button -->
    <a href="#conteudo"><div class="scroll-down"><span><i class="fa fa-angle-down fa-2x"></i></span></div></a>
</section>
<!-- Home end -->
