{% comment %}

Baseado neste exemplo...

  https://gist.github.com/csgruenebe/8f7beef9858c1b8625d6

{% endcomment %}

<!-- <div style='position: fixed; width: 100%; z-index: 1;'> -->
<!-- <div> -->
    <ol class="breadcrumb navbar-static-top">
        <li><a href="{{ site.baseurl }}/">devfuria.com.br</a></li>
        {% capture uri %}{{ page.url | remove: "/index.html" }}{% endcapture %}

        {% assign labels = uri | split: '/' %}

        {% capture labels_length %}{{ labels.size | minus:1 }}{% endcapture %}

        {% for i in (1..labels_length) %}
            {% assign label = labels[i] %}
            {% capture _url %}{{ _url }}/{{ label }}{% endcapture %}

            {% if forloop.last %}
                <li class="active">{{ label }}</li>
                {% continue %}
            {% endif %}

            <li><a href="{{ _url | prepend: site.baseurl }}">{{ label }}</a></li>

        {% endfor %}
    </ol>
<!-- </div> -->

<!-- <div style="margin-bottom: 40px">&nbsp;</div> -->