<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="bs-calltoaction bs-calltoaction-default">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Its a Call To Action</h1>
                        <div class="cta-desc">
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a href="#" class="btn btn-lg btn-block btn-default">Go for It!</a>
                    </div>
                </div>
            </div>

            <div class="bs-calltoaction bs-calltoaction-primary">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Its a Call To Action</h1>
                        <div class="cta-desc">
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a href="#" class="btn btn-lg btn-block btn-primary">Go for It!</a>
                    </div>
                </div>
            </div>

            <div class="bs-calltoaction bs-calltoaction-info">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Its a Call To Action</h1>
                        <div class="cta-desc">
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a href="#" class="btn btn-lg btn-block btn-info">Go for It!</a>
                    </div>
                </div>
            </div>

            <div class="bs-calltoaction bs-calltoaction-success">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Its a Call To Action</h1>
                        <div class="cta-desc">
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a href="#" class="btn btn-lg btn-block btn-success">Go for It!</a>
                    </div>
                </div>
            </div>

            <div class="bs-calltoaction bs-calltoaction-warning">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Its a Call To Action</h1>
                        <div class="cta-desc">
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a href="#" class="btn btn-lg btn-block btn-warning">Go for It!</a>
                    </div>
                </div>
            </div>

            <div class="bs-calltoaction bs-calltoaction-danger">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Its a Call To Action</h1>
                        <div class="cta-desc">
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                            <p>Describe the action here.</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a href="#" class="btn btn-lg btn-block btn-danger">Go for It!</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
