<footer>

    <div class="grid grid-pad">

        <div class="col-1-1">
            <a href="/javascript/" class="btn-rodape" title="JavaScript">JavaScript</a>
            <a href="/javascript/node.js/" class="btn-rodape" title="Node.js">Node.js</a>
            <a href="/javascript/backbone/" class="btn-rodape" title="Backbone">Backbone</a>
            <a href="/javascript/canvas/" class="btn-rodape" title="Canvas">Canvas</a>
            <a href="/html-css/" class="btn-rodape" title="HTML & CSS">HTML & CSS</a>
            <a href="/tdd/" class="btn-rodape" title="Test Driven Development">TDD</a>
            <a href="/sql/" class="btn-rodape" title="SQL">SQL</a>
            <a href="/python/" class="btn-rodape" title="Python">Python</a>
            <a href="/php/" class="btn-rodape" title="PHP">PHP</a>
            <a href="/linux/" class="btn-rodape" title="Linux">Linux</a>
            <a href="/git/" class="btn-rodape" title="Git">Git</a>
            <a href="/regex/" class="btn-rodape" title="Expressões Regulares">Regex</a>
            <a href="/misc/" class="btn-rodape" title="Miscellaneous">Miscellaneous</a>
            <a href="/logica-de-programacao/" class="btn-rodape" title="Lógica de programação">Lógica de programação</a>
        </div>

        <div class="col-1-1" style="text-align: center">
            <p style="text-align: center">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                </a>
                <br />
                Este obra está licenciado sob a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Atribuição 4.0 Internacional
                </a>.
            </p>
            <p style="text-align: center">Encontrou erros de português? Nos avise através do email <strong>feedback@devfuria.com.br</strong></p>
            <p style="text-align: center">Conheça mais sobre o mantenedor e, por enquanto, principal autor em <a href="/flavio-alexandre-micheletti.html">Quem vôs fala</a></p>
            <p style="text-align: center">Quer ajudar? Acesse o projeto no <a href="https://github.com/devfuria" title="link-externo">GitHub</a></p>
            <p style="text-align: center"><a href="http://www.devfuria.com.br/">www.devfuria.com.br</a> <em>(desde 2012)</em></p>
        </div>
        
    </div>
</footer>