<footer>
    <div class="grid grid-pad">    
        <div class="col-1-1">
            <p style="text-align: center">
                <a href="/logica-de-programacao/">Lógica de programação</a>  |  
                <a href="/javascript/">JavaScript</a>  |  
                <a href="/python/">Python</a>  |  
                <a href="/php/">PHP</a>  |  
                <a href="/linux/">Linux</a>  |  
                <a href="/git/">Git</a>  |  
                <a href="/html-css/">HTML & CSS</a>  |  
                <a href="/sql/">SQL</a>  |  
                <a href="/regex/">Expressões Regulares</a>  |  
                <a href="/seguranca-da-informacao/">Segurança da Informação</a>  |  
            </p>
            <p style="text-align: center"><a href="http://www.devfuria.com.br/">www.devfuria.com.br</a> <em>(desde 2012)</em></p>
            <p style="text-align: center">Encontrou erros de português? Nos avise através do email <strong>feedback@devfuria.com.br</strong></p>
            <p style="text-align: center">Quer ajudar? Acesse o projeto no <a href="https://github.com/devfuria" title="link-externo">GitHub</a></p>
            <p style="text-align: center">Conheça mais sobre o mantenedor e, por enquanto, principal autor em <a href="/flavio-alexandre-micheletti.html">Quem vôs fala</a></p>
            <p style="text-align: center">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                </a>
                <br />
                Este obra está licenciado com uma Licença 
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Atribuição 4.0 Internacional
                </a>.                
            </p>
        </div>    
    </div>    
</footer>