<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.parallax-1.1.3.js"></script>
<script src="/assets/js/imagesloaded.pkgd.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/smoothscroll.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.easypiechart.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.cbpQTRotator.js"></script>
<script src="/assets/js/custom.js"></script>

<!--<script src="/assets/js/jquery.js"></script>-->
<script src="/assets/js/analytics.js"></script>
<script src="/assets/js/devfuria.js"></script>