{% comment %}

É um include que faz papel de uma função, portanto, digo que
é uma função para retornar determinada série.
Cria a variável 'serie' que é utiliza pelo include 'menu'

    Exemplo
    {% include get-serie.html page_serie="Aqui vai o nome da série" %}
    {% include menus.html %}

{% endcomment %}



{% assign serie = "" | split: "|"  %}

{% for page in site.pages %}
    {% if page.serie == include.page_serie %}
        {% assign serie = serie | push: page %}
    {% endif %}
{% endfor %}

{% assign serie = serie | sort: 'ordem' %}
