<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
    {% if page.title %}
        {{ page.title | replace:'<br />',' ' }}        
    {% else %}
        {{ site.title }}
    {% endif %}
</title>

{% if page.description %}
    <meta name="description" content="{{ page.description | replace:'<br />','' }}" />
    <meta name="og:description" content="{{ page.description | replace:'<br />','' }}" />
{% endif %}

<meta name="author" content="Flávio Alexandre Micheletti">

<meta property="og:type" content="website" /> 
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:url" content="http://www.devfuria.com.br{{ page.url }}" />
<meta property="og:image" content="http://www.devfuria.com.br{% if page.ogimage %}{{ page.ogimage | prepend: page.url }}{% else %}{{ "/assets/images/favicon.png" }}{% endif %}"/>

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="shortcut icon" type="imagens/gif" href="/assets/images/favicon.ico">    

<!-- CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
<link href="/assets/css/simple-line-icons.css" rel="stylesheet" media="screen">

<!-- Styles theme Clean -->
<link href="/assets/css/style.css" rel="stylesheet" media="screen">

<!-- Styles Devfuria -->
<link rel="stylesheet" href="/assets/css/devfuria.css">

<script src="/assets/js/modernizr.custom.js"></script>

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

