<div class="list-group">
    <a href="/regex/metacaracter-ponto/" class="list-group-item">Metacaracter ponto .</a>
    <a href="/regex/metacaracter-lista/" class="list-group-item">Metacaracter lista [ ]</a>
    <a href="/regex/metacaracter-lista-negada/" class="list-group-item">Metacaracter lista negada [^]</a>
    <a href="/regex/metacaracter-opcional/" class="list-group-item">Metacaracter opcional ?</a>
    <a href="/regex/metacaracter-asterisco/" class="list-group-item">Metacaracter asterisco *</a>
    <a href="/regex/metacaracter-mais/" class="list-group-item">Metacaracter mais +</a>
    <a href="/regex/metacaracter-chaves/" class="list-group-item">Metacaracter chaves { }</a>
</div>