Feedback
---

Preciso de seu feedback!

Eu preparei este curso de lógica com o objetivo de ser um curso realmente eficaz. Agora preciso que você me dê o seu
feedback sobre o curso, por exemplo...

- O que achou do curso, de sua qualidade?
- Faltou alguma explicação ou material?
- O que você tiraria?
- O que você manteria?
- Você sugere alguma melhoria?
- Como foi trabalhar a lógica e os testes "unitários" juntos?
- O que achou das linguagens que eu utilizei?
- Como foi trabalhar com mais de uma linguagem em cada exercício?
- Diga o que estiver em sua mente!

Conto com sua participação para eu poder melhorar cada vez este pequeno curso de lógica de programação.

Obrigado!