
<div class="list-group">
    <a href="/html-css/ferramentas/" class="list-group-item">Ferramentas para trabalhar com HTML e CSS</a>
    <a href="/html-css/unindo-css-html/" class="list-group-item">Unindo o CSS ao HTML</a>
    <a href="/html-css/elementos-inline-block-level/" class="list-group-item">Elementos in-line e elementos block-level</a>
    <a href="/html-css/html-primeira-qualidade/" class="list-group-item">Criando um HTML de primeira qualidade</a>
    <a href="/html-css/formularios-web/" class="list-group-item">Formulários web</a>
</div>