<div class="list-group">
    <a href="/html-css/formularios/text-box/" class="list-group-item">Textbox - input type=text</a>
    <a href="/html-css/formularios/password/" class="list-group-item">Campos de senha - input type=password</a>
    <a href="/html-css/formularios/checkbox/" class="list-group-item">Caixa de checagem - input type=checkbox</a>
    <a href="/html-css/formularios/radio-buttons" class="list-group-item">Botões de opção - input type=radio</a>
    <a href="/html-css/formularios/button-submit-reset" class="list-group-item">Botões - button, submit e reset</a>
    <a href="/html-css/formularios/input-file/" class="list-group-item">Enviando arquivos - input type="file"</a>
</div>