<div class="list-group">
    <a href="/html-css/introducao-html/" class="list-group-item">Introdução ao HTML</a>
    <a href="/html-css/primeiro-html/" class="list-group-item">Criando seu primeiro HTML</a>
    <a href="/html-css/html-primeira-qualidade/" class="list-group-item">Criando um HTML de primeira qualidade</a>
    <a href="/html-css/introducao-css/" class="list-group-item">Introdução ao CSS</a>
    <a href="/html-css/unindo-css-html/" class="list-group-item">Unindo o CSS ao HTML</a>
    <a href="/html-css/seletores-css/" class="list-group-item">Seletores CSS</a>
</div>