<div class="list-group">
    <a href="/javascript/backbone-hello-world/" class="list-group-item">Backbone - Hello World (introdução)</a>
    <a href="/javascript/backbone-views/" class="list-group-item">Backbone - Views</a>
    <a href="/javascript/backbone-views-templates/" class="list-group-item">Backbone - Views e Templates</a>
    <a href="/javascript/backbone-views-eventos/" class="list-group-item">Backbone - Views e Eventos</a>
    <a href="/javascript/backbone-views-exemplos/" class="list-group-item">Backbone - Exemplos de Views</a>
</div> 