<div class="list-group">
    <a href="/javascript/debugando/" class="list-group-item">Debugando (depurando)</a>
    <a href="/javascript/code-somando/" class="list-group-item">Code - Somando</a>
    <a href="/javascript/code-somando-testado/" class="list-group-item">Code - Somando (testado)</a>
    <a href="/javascript/code-lampada/" class="list-group-item">Code - A lâmpada</a>
    <a href="/javascript/code-contador/" class="list-group-item">Code - Liga e desliga contador</a>
    <a href="/javascript/tratando-eventos/" class="list-group-item">Tratando Eventos (de navegadores)</a>        
    <a href="/javascript/oop-primeiro-degrau/" class="list-group-item">OOP - primeiro degrau</a>
    <a href="/javascript/coffescript/" class="list-group-item">CoffeScript</a>
</div> 