<div class="list-group">
    <a href="/javascript/backbone-introducao/" class="list-group-item">Backbone - Introdução (Hello World)</a>
    <a href="/javascript/backbone-views/" class="list-group-item">Backbone - Views</a>
    <a href="/javascript/backbone-views-templates/" class="list-group-item">Backbone - Views e Templates</a>
    <a href="/javascript/backbone-views-eventos/" class="list-group-item">Backbone - Views e Eventos</a>
    <a href="/javascript/backbone-views-exemplos/" class="list-group-item">Backbone - Um exemplo de visão</a>
    <a href="/javascript/backbone-models/" class="list-group-item">Backbone - Models</a>
    <a href="/javascript/backbone-models-eventos/" class="list-group-item">Backbone - Models e Eventos</a>
    <a href="/javascript/backbone-models-views/" class="list-group-item">Backbone - Unindo Models e Views</a>
    <a href="/javascript/backbone-collections/" class="list-group-item">Backbone - Collections</a>
    <a href="/javascript/backbone-collections-eventos/" class="list-group-item">Backbone - Collections e Eventos</a>
</div> 