<div class="list-group">
    <a href="/javascript/debugando/" class="list-group-item">Debugando (depurando)</a>
    <a href="/javascript/code-somando/" class="list-group-item">Code - Somando</a>
    <a href="/javascript/code-lampada/" class="list-group-item">Code - A lâmpada</a>
    <a href="/javascript/tratando-eventos/" class="list-group-item">Tratando Eventos (de navegadores)</a>        
    <a href="/javascript/oop-primeiro-degrau/" class="list-group-item">OOP - primeiro degrau</a>
    <a href="/javascript/ajax/" class="list-group-item">Ajax - Como deve ser utilizado hoje em dia</a>
    <a href="/javascript/ajax-no-inicio/" class="list-group-item">Ajax - Como era utilizado no começo</a>
    <a href="/javascript/ajax-php-jquery/" class="list-group-item">Ajax - Aprenda a utilizar Ajax com PHP e JQuery
</a>
</div> 