<div class="list-group">
    <a href="/javascript/dom/" class="list-group-item">DOM - Document Object Model</a>
    <a href="/javascript/dom-nodelist/" class="list-group-item">DOM - NodeList()</a>
    <a href="/javascript/dom-getelementbyid/" class="list-group-item">DOM - getElementById()</a>
    <a href="/javascript/dom-getelementsbyname/" class="list-group-item">DOM - getElementsByName()</a>
    <a href="/javascript/dom-getelementsbytagname/" class="list-group-item">DOM - getElementsByTagName()</a>
    <a href="/javascript/dom-getelementsbyclassname/" class="list-group-item">DOM - getElementsByClassName()</a>
    <a href="/javascript/dom-queryselectorall/" class="list-group-item">DOM - querySelectorAll()</a>
    <a href="/javascript/dom-reduzindo-acesso-ao-dom/" class="list-group-item">DOM -  Reduzindo acesso ao documento - em breve!</a>
    <a href="/javascript/dom-manipulando-o-dom/" class="list-group-item">DOM - Manipulando o documento</a>
    <a href="/javascript/dom-append-child/" class="list-group-item">DOM - appendChild()</a>
    <a href="/javascript/dom-create-element/" class="list-group-item">DOM - createElement()</a>
    <a href="/javascript/dom-create-text-node/" class="list-group-item">DOM - createTextNode()</a>
    <a href="/javascript/dom-insert-before/" class="list-group-item">DOM - insertBefore()</a>
    <a href="/javascript/dom-remove-child/" class="list-group-item">DOM - removeChild()</a>
</div>