<div class="list-group">
    <a href="/javascript/debugando/" class="list-group-item">Debugando (depurando)</a>
    <a href="/javascript/code-somando/" class="list-group-item">Code - Somando</a>
    <a href="/javascript/code-lampada/" class="list-group-item">Code - A lâmpada</a>
    <a href="/javascript/tratando-eventos/" class="list-group-item">Tratando Eventos (de navegadores)</a>        
    <a href="/javascript/oop-primeiro-degrau/" class="list-group-item">OOP - primeiro degrau</a>
    <a href="/javascript/mocha-teste-seu-javascript/" class="list-group-item">Testando JavaScript com o Mocha</a>
</div> 