<div class="list-group">
    <a href="/javascript/backbone-introducao/" class="list-group-item">Backbone - Introdução (Hello World)</a>
    <a href="/javascript/backbone-views/" class="list-group-item">Backbone - Views</a>
    <a href="/javascript/backbone-views-templates/" class="list-group-item">Backbone - Views e Templates</a>
    <a href="/javascript/backbone-views-eventos/" class="list-group-item">Backbone - Views e Eventos</a>
    <a href="/javascript/backbone-views-exemplos/" class="list-group-item">Backbone - Um exemplo de visão</a>
    <a href="/javascript/backbone-models/" class="list-group-item">Backbone - Models</a>
    <a href="/javascript/backbone-models-eventos/" class="list-group-item">Backbone - Models e Eventos</a>
    <a href="/javascript/backbone-models-views/" class="list-group-item">Backbone - Unindo Models e Views</a>
    <a href="/javascript/backbone-collections/" class="list-group-item">Backbone - Collections</a>
    <a href="/javascript/backbone-collections-eventos/" class="list-group-item">Backbone - Collections e Eventos</a>
    <a href="/javascript/backbone-collections-views/" class="list-group-item">Backbone - Unindo Collections e Views</a>
    <a href="/javascript/backbone-sincronizando-models/" class="list-group-item">Backbone - Sincronizando um modelo (model</a>
    <a href="/javascript/backbone-sincronizando-collections/" class="list-group-item">Backbone - Sincronizando coleções (collections)</a>
    <a href="/javascript/backbone-sync/" class="list-group-item">Backbone - Explorando o sync</a>
    <a href="/javascript/backbone-router/" class="list-group-item">Backbone - Definindo rotas (router)</a>
</div>

A seguinte lista de exemplos de código para Backbone são recomendadas para quem já possui um certo conhecimento do
framework ou que já leu as matérias acima.

<div class="list-group">
    <a href="/javascript/backbone-exemplo-01/" class="list-group-item">Backbone exemplo 01</a>
    <a href="/javascript/backbone-exemplo-02/" class="list-group-item">Backbone exemplo 02</a>
    <a href="/javascript/backbone-exemplo-03/" class="list-group-item">Backbone exemplo 03</a>
    <a href="/javascript/backbone-exemplo-04/" class="list-group-item">Backbone exemplo 04</a>
    <a href="/javascript/backbone-exemplo-05/" class="list-group-item">Backbone exemplo 05</a>
    <a href="/javascript/backbone-exemplo-06/" class="list-group-item">Backbone exemplo 06</a>
</div> 