<div class="list-group">
    <a href="/javascript/refs/arrays/" class="list-group-item">Arrays</a>
    <a href="/javascript/refs/funcoes/" class="list-group-item">Funções</a>
    <a href="/javascript/refs/funcoes-anonimas/" class="list-group-item">Funções anônimas</a>
    <a href="/javascript/refs/funcoes-argumentos/" class="list-group-item">Funções - argumentos (arguments)</a>
    <a href="/javascript/refs/getelementbyid/" class="list-group-item">getElementById()</a>
    <a href="/javascript/refs/onclick/" class="list-group-item">Evento onclick</a>
    <a href="/javascript/refs/typeof/" class="list-group-item">typeof</a>
    <a href="/javascript/refs/operador-condicional-ternario/" class="list-group-item">Operador ternário condicional</a>
    <a href="/javascript/refs/objeto-global/" class="list-group-item">O objeto window e o espaço global</a>
</div> 