<div class="list-group">
    <a href="/javascript/canvas/introducao/" class="list-group-item">Introdução ao Canvas</a>
    <a href="/javascript/canvas/lineto-moveto/" class="list-group-item">Desenhando linhas (lineTo e moveTo)</a>
    <a href="/javascript/canvas/line-width/" class="list-group-item">Tamanho das linhas  (lineWidth)</a>
    <a href="/javascript/canvas/linejoin-miter-round-bevel/" class="list-group-item">Junção das linhas (lineJoin)</a>
    <a href="/javascript/canvas/linecap-butt-round-square/" class="list-group-item">Limite das linhas (lineCap)</a>
    <a href="/javascript/canvas/paths/" class="list-group-item">Paths (caminhos)</a>
    <a href="/javascript/canvas/rect-strokerect-fillrect" class="list-group-item">Desenhando retângulos (strokeRect, fillRect, clearRect e rect)</a>
    <!--<a href="" class="list-group-item"></a>-->
</div> 