<div class="list-group">
    <a href="/logica-de-programacao/c-dobro-func/" class="list-group-item">O dobro de um número qualquer (funções)</a>
    <a href="/logica-de-programacao/c-par-impar/" class="list-group-item">Descobrir se é par ou ímpar</a>
    <a href="/logica-de-programacao/c-positivo/" class="list-group-item">Valor positivo ou negativo</a>
    <a href="/logica-de-programacao/c-maior-que-dez/" class="list-group-item">Maior que 10</a>
    <a href="/logica-de-programacao/c-operacoes-mat/" class="list-group-item">Funções para as 4 operações artiméticas</a>
    <a href="/logica-de-programacao/c-celsius-fahrenheit/" class="list-group-item">Conversor Celsius/Fahrenheit</a>
    <a href="/logica-de-programacao/c-equacao-2grau/" class="list-group-item">Equação de 2 grau</a>
</div> 
