<div class="list-group">
    <a href="/logica-de-programacao/dobro-oop/" class="list-group-item">O dobro de um número qualquer</a>
    <a href="/logica-de-programacao/area-quadra-cubo/" class="list-group-item">Area quadrada e área cúbica</a>
    <a href="/logica-de-programacao/antecessor-sucessor-oop/" class="list-group-item">Antecessor e sucessor de um número qualquer</a>
    <a href="/logica-de-programacao/juros-simples-oop/" class="list-group-item">Juros simples</a>
    <a href="/logica-de-programacao/triangulo/" class="list-group-item">Triangulo</a>
</div> 