<h4>Exercícios nível 0:</h4>

{% include /menus/logica-exerc-nivel-00.html %}

<h4 style="margin-top: 20px">Exercícios nível 1:</h4>

{% include /menus/logica-exerc-nivel-01.html %}

<h4 style="margin-top: 20px">Exercícios nível 2:</h4>

<p>Envolvendo <b>funções</b></p>

{% include /menus/logica-exerc-nivel-02.html %}

<h4 style="margin-top: 20px">Exercícios nível 3:</h4>

<p>Para treinar <b>laços de repetição</b></p>

{% include /menus/logica-exerc-nivel-03.html %}

<h4 style="margin-top: 20px">Exercícios nível 4:</h4>

<p>Para treinar <b>vetores</b></p>

{% include /menus/logica-exerc-nivel-04s.html %}

<p style="margin-top: 20px">Ainda exercícios para treinar vetores, mas desta vez utilizando <b>strings</b>:</p>

{% include /menus/logica-exerc-nivel-04v.html %}

<h4 style="margin-top: 20px">Exercícios nível 5:</h4>

<p style="margin-top: 20px">Aqui começam os exercícios envolvendo programação orientada a objetos (OOP):</p>

{% include /menus/logica-exerc-nivel-05.html %}


<h4 style="margin-top: 20px">Exercícios nível 6:</h4>

<p>Para treinar <b>recursividade</b></p>

{% include /menus/logica-exerc-nivel-06.html %}


<h4 style="margin-top: 20px">Exercícios nível 8:</h4>

<p>Para treinar <b>ponteiros</b></p>

{% include /menus/logica-exerc-nivel-08.html %}