<div class="list-group">
    <a href="/logica-de-programacao/dobro/" class="list-group-item">O dobro de um número qualquer</a>
    <a href="/logica-de-programacao/area-quadrada/" class="list-group-item">Área quadrada</a>
    <a href="/logica-de-programacao/antecessor-sucessor/" class="list-group-item">Antecessor e sucessor de um número qualquer</a>
    <a href="/logica-de-programacao/media-simples/" class="list-group-item">Média simples de 3 números</a>
    <a href="/logica-de-programacao/dias-n-meses/" class="list-group-item">Descobrir os dias de 'n' meses</a>
    <a href="/logica-de-programacao/duas-variaveis/" class="list-group-item">Trocar o valor de duas variáveis</a>
</div> 