<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>
        Se você caiu de paraquêdas nesta página, nós estamos na seção <strong>Lógica de Programação</strong> exercitando 
        a lógica de programação juntamente com as linguagens <strong>C</strong>, <strong>Python</strong> e 
        <strong>JavaScript (Node.js)</strong>.
    </p>
    <p>
        Este exercício inclui os <strong>testes unitários</strong> já escrito para seu código, você deve implementar 
        a solução até vê-los passarem.
    </p>
    </p>
    <p>Talvez você precise ler os artigos introdutórios listados na index 
        <a href="/logica-de-programacao/">Lógica de Programação</a>.
    </p>
</div>