<div class="list-group">
    <a href="/sql/mysql-instalando/" class="list-group-item">Instalando o MySQL</a>
    <a href="/sql/mysql-pelo-terminal/" class="list-group-item">Acessando o MySQL via console (terminal)</a>
    <a href="/sql/mysql-ler-mensagens-erro/" class="list-group-item">Aprendendo a ler mensagens de erro</a>
    <a href="/sql/mysql-listar-base/" class="list-group-item">Listar e selecionar bases de dados</a>
    <a href="/sql/mysql-experimentado-select/" class="list-group-item">Experimentando a instrução "select"</a>
    <a href="/sql/mysql-criando-base-de-dados/" class="list-group-item">Criando uma base de dados</a>
    <a href="/sql/mysql-criando-tabelas/" class="list-group-item">Criando tabelas</a>
    <a href="/sql/mysql-load-data-local-infile/" class="list-group-item">Populando tabela a partir de uma arquivo de texto</a>
    <a href="/sql/mysql-instrucoes-tabelas/" class="list-group-item">Instruções úteis para manipular tabelas</a>
    <a href="/sql/mysql-crud/" class="list-group-item">Entendendo o que é CRUD</a>
    <a href="/sql/mysql-crud-create/" class="list-group-item">CRUD - C de create (insert)</a>
    <a href="/sql/mysql-crud-read/" class="list-group-item">CRUD - R de read (select)</a>
    <a href="/sql/mysql-crud-update/" class="list-group-item">CRUD - U de update</a>
    <a href="/sql/mysql-crud-delete/" class="list-group-item">CRUD - D de delete</a>
</div> 