<div class="list-group">
    <a href="/php/forms/enviando-dados-via-get-post/" class="list-group-item">Enviando dados via GET e POST</a>
    <a href="/php/forms/recebendo-dados-via-get-post/" class="list-group-item">Recebendo dados via GET e POST</a>
    <a href="/php/forms/textbox-password-textarea/" class="list-group-item">Manipulando os controles text, password e textarea</a>
    <a href="/php/forms/checkbox/" class="list-group-item">Manipulando o controle checkbox</a>
    <a href="/php/forms/radio-button/" class="list-group-item">Manipulando o controle radio button</a>
    <a href="/php/forms/combobox/" class="list-group-item">Manipulando o controle combobox</a>
    <a href="/php/forms/select-multiple/" class="list-group-item">Manipulando o controle listbox</a>
</div>