<div class="list-group">
    <a href="/php/criando-iterando-um-array/" class="list-group-item">Criando e iterando um array em PHP</a>
    <a href="/php/arrays-funcoes-basicas/" class="list-group-item">Funções básicas de arrays</a>
    <a href="/php/enviando-dados-via-get-post/" class="list-group-item">Enviando dados via GET e POST</a>
    <a href="/php/recebendo-dados-via-get-post/" class="list-group-item">Recebendo dados via GET e POST</a>
    <a href="/php/textbox-password-textarea/" class="list-group-item">Descobrindo os controles text, password e textarea</a>
    <a href="/php/checkbox/" class="list-group-item">Manipulando check boxes</a>
    <a href="/php/radio-button/" class="list-group-item">Manipulando radio button</a>
    <a href="/php/combobox/" class="list-group-item">Manipulando combobox</a>
    <a href="/php/select-multiple/" class="list-group-item">Manipulando listbox</a>
</div>