<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    <p>
        Se você caiu de paraquêdas nesta página, nós estamos na seção Python realizando os exercícios de programação da 
        lista do 
        <a href="https://developers.google.com/edu/python/exercises/basic" title=link-externo">Google Python Exercise</a>
    </p>
    <p>
        O Google mantém um breve tutorial e alguns exercícios sobre Python, eu apenas traduzi os enunciados. O legal dos 
        exercícios é que eles vem com os testes prontos, ou seja, você olha para o teste para ver como o código deveria 
        funcionar e implementa as funções até os testes passarem. Copie o conteúdo abaixo em um arquivo chamado <code>script.py</code>
        e execute no terminal <code>python script.py</code>.
    </p>
    <p>
        O exercício acaba quando todos os 
        <a href="/python/tdd-primeiros-passos-com-testes-unitarios/">testes</a>
        estiverem passando.
    </p>
</div>

