Se você caiu de paraquêdas nesta página, nós estamos na seção __Python__ realizando os exercícios de programação da 
lista do [Google Python Exercise](https://developers.google.com/edu/python/exercises/basic "link-externo").

O Google mantém um breve tutorial e alguns exercícios sobre Python, eu apenas traduzi os enunciados. O legal dos 
exercícios é que eles vem com os testes prontos, ou seja, você olha para o teste para ver como o código deveria 
funcionar e implementa as funções até os testes passarem. Copie o conteúdo abaixo em um arquivo chamado `script.py` 
e execute no terminal `python script.py`.

O exercício acaba quando todos os [testes](/tdd/) estiverem passando.