<div class="list-group">
    <a href="/python/strings/" class="list-group-item">O básico sobre strings</a>
    <a href="/python/estruturas-condicionais/" class="list-group-item">O básico sobre estrutura condicionais</a>
    <a href="/python/functions/" class="list-group-item">O básico de funções</a>
    <a href="/python/listas/" class="list-group-item">O básico de listas</a>
    <a href="/python/dicionarios-dictionaries/" class="list-group-item">O básico sobre dicionários</a>
    <a href="/python/sequencias-fatiamento/" class="list-group-item">Operadores e fatiamento de sequências</a>
</div>