<div class="list-group">
    <a href="/regex/metacaractere-ponto/" class="list-group-item">Metacaractere ponto .</a>
    <a href="/regex/metacaractere-lista/" class="list-group-item">Metacaractere lista [ ]</a>
    <a href="/regex/metacaractere-lista-negada/" class="list-group-item">Metacaractere lista negada [^]</a>
    <a href="/regex/metacaractere-opcional/" class="list-group-item">Metacaractere opcional ?</a>
    <a href="/regex/metacaractere-asterisco/" class="list-group-item">Metacaractere asterisco *</a>
    <a href="/regex/metacaractere-mais/" class="list-group-item">Metacaractere mais +</a>
    <a href="/regex/metacaractere-chaves/" class="list-group-item">Metacaractere chaves { }</a>
    <a href="/regex/metacaractere-circunflexo/" class="list-group-item">Metacaractere circunflexo ^</a>
    <a href="/regex/metacaractere-cifrao/" class="list-group-item">Metacaractere cifrão $</a>
    <a href="/regex/metacaractere-borda/" class="list-group-item">Metacaractere borda \b</a>
    <a href="/regex/metacaractere-escape/" class="list-group-item">Metacaractere escape \</a>
    <a href="/regex/metacaractere-ou/" class="list-group-item">Metacaractere ou |</a>
</div>