<div class="list-group">
    
    <a href="/tdd/exemplo-tdd-dobro/" class="list-group-item">O dobro de um número qualquer</a>
    <a href="/tdd/exemplo-tdd-area-quadrada/" class="list-group-item">Área quadrada</a>
    <a href="/tdd/exemplo-tdd-antecessor-sucessor/" class="list-group-item">Antecessor e sucessor de um número qualquer</a>
    <a href="/tdd/exemplo-tdd-media-simples/" class="list-group-item">Média simples de 3 números</a>
    <a href="/tdd/exemplo-tdd-dias-n-meses/" class="list-group-item">Descobrir os dias de 'n' meses</a>
    <a href="/tdd/exemplo-tdd-duas-variaveis/" class="list-group-item">Trocar o valor de duas variáveis</a>
    
    <a href="/tdd/exemplo-tdd-custo-carro/" class="list-group-item">Custo de fabricação de um carro</a>
    <a href="/tdd/exemplo-tdd-juros-simples/" class="list-group-item">Juros simples</a>
    <a href="/tdd/exemplo-tdd-salario-reajuste/" class="list-group-item">Reajustando o salário</a>
    <a href="/tdd/exemplo-tdd-eleitores/" class="list-group-item">Votos em relação ao total de eleitores</a>

    <a href="/tdd/exemplo-tdd-dobro-func/" class="list-group-item">O dobro de um número qualquer (funções)</a>
    <a href="/tdd/exemplo-tdd-positivo/" class="list-group-item">Valor positivo ou negativo</a>
    <a href="/tdd/exemplo-tdd-maior-que-dez/" class="list-group-item">Maior que 10</a>
    <a href="/tdd/exemplo-tdd-operacoes-mat/" class="list-group-item">Funções para as 4 operações artiméticas</a>
    <a href="/tdd/exemplo-tdd-celsius-fahrenheit/" class="list-group-item">Conversor Celsius/Fahrenheit</a>
    <a href="/tdd/exemplo-tdd-equacao-2grau/" class="list-group-item">Equação de 2 grau</a>
    
    <a href="/tdd/exemplo-tdd-primo/" class="list-group-item">Número primo</a>

</div> 