<div class="list-group">
    
    <a href="/tdd/exemplo-tdd-dobro/" class="list-group-item">O dobro de um número qualquer (estruturado)</a>
    <a href="/tdd/exemplo-tdd-dobro-func/" class="list-group-item">O dobro de um número qualquer (funções)</a>
    <a href="/tdd/exemplo-tdd-dobro-oop/" class="list-group-item">O dobro de um número qualquer (orientado a objetos)</a>
    <a href="/tdd/exemplo-tdd-juros-simples/" class="list-group-item">Juros simples</a>
    <a href="/tdd/exemplo-tdd-area-quadra/" class="list-group-item">Cálculo da área</a>
    <a href="/tdd/exemplo-tdd-triangulo/" class="list-group-item">Triangulo</a>

</div> 