<div class="list-group">
    <a href="/tdd/exemplo-tdd-calc-dobro/" class="list-group-item">O dobro de um número qualquer (oop)</a>
    <a href="/tdd/exemplo-tdd-area-quadra-cubo/" class="list-group-item">Area quadrada e área cúbica</a>
    <a href="/tdd/exemplo-tdd-antecessor-sucessor/" class="list-group-item">Antecessor e sucessor de um número qualquer (oop)</a>
    <a href="/tdd/exemplo-tdd-juros-simples/" class="list-group-item">Juros simples (oop)</a>
    <a href="/tdd/exemplo-tdd-triangulo/" class="list-group-item">Triangulo</a>
</div> 