<div class="list-group">
    
    <a href="/tdd/exemplo-tdd-dobro/" class="list-group-item">O dobro de um número qualquer (estruturado)</a>
    <a href="/tdd/exemplo-tdd-dobro-func/" class="list-group-item">O dobro de um número qualquer (funções)</a>
    <a href="/tdd/exemplo-tdd-dobro-oop/" class="list-group-item">O dobro de um número qualquer (orientado a objetos)</a>

    <a href="/tdd/exemplo-tdd-juros-simples-oop/" class="list-group-item">Juros simples oop</a>
    <a href="/tdd/exemplo-tdd-juros-simples/" class="list-group-item">Juros simples</a>
    <a href="/tdd/exemplo-tdd-area-quadra-oop/" class="list-group-item">Cálculo da área</a>
    <a href="/tdd/exemplo-tdd-triangulo/" class="list-group-item">Triangulo</a>
    <a href="/tdd/exemplo-tdd-primo/" class="list-group-item">Número primo</a>
 
    <a href="/tdd/exemplo-tdd-custo-carro/" class="list-group-item">Custo de fabricação de um carro</a>
    <a href="/tdd/exemplo-tdd-salario-reajuste/" class="list-group-item">Reajustando o salário</a>
    <a href="/tdd/exemplo-tdd-eleitores/" class="list-group-item">Votos em relação ao total de eleitores</a>    

</div> 