<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>
        Este artigo é um exemplo extremamente simples de TDD (Test Driven Development)
        Ele compõem uma sequência de excercícios igualmente simples. Indicado para o desenvolvedor que quer aprender a 
        técnica de TDD mas não conhece muito sobre testes unitários e nem sobre arquitetura.
    </p>
</div>
