* {
  font-family: monospace
  /*font-family: Open Sans, Arial, Helvetica, Sans-serif*/
}
body {
    margin: 0px 250px;
    margin-bottom: 500px;
}
h1 {
  text-align: center
}
h2 {
    margin-top: 50px
}
strong {
    font-weight: bolder;
}
li {
    margin-top: 8px;
    margin-bottom: 8px;
}
.nav {
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.nav-item {
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    float: left;
    padding-right: 20px
}