
<div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><small>advertising space</small></p>

	{% if page.url contains 'python' %}
		<h2>Aula #7b - Média Simples em Python</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/XDS0nwJRLX0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'javascript' %}
		<h2>Aula #7c - Média Simples em Node (JavaScript)</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/02yw_2G-D-k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'node.js' %}
		<h2>Aula #7c - Média Simples em Node (JavaScript)</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/02yw_2G-D-k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'html' %}
		<h2>Analisando Site #03</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/33zoJct5Sxc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<p>Veja a lista completa de sites analisados...</p>
		<p><a href="https://www.youtube.com/watch?v=_PaUw_o9oQI&list=PL4-j1jp_g6DvixDn8gspoU4nriXxDdWUr">Analisando Websites</a>

	{% elsif page.url contains 'logica' %}
		<h2>Aula #7d - Média Simples na linguagen C</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/MJhCET-9pDk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains '/c/' %}
		<h2>Aula #7d - Média Simples na linguagen C</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/MJhCET-9pDk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% else %}
		<h2>Respondendo Dúvidas Curso #07</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/qDtVX2VJ1QA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% endif %}

</div>
