
<div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><small>advertising space</small></p>

	{% if page.url contains 'python' %}
		<h2>Aula #8b - Descobrir os dias em Python</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/eeDw18uIExQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'javascript' %}
		<h2>Aula #8c - Descobrir os dias em Node (JavaScript)</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/fs3ygRM4wHA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'node.js' %}
		<h2>Aula #8c - Descobrir os dias em Node (JavaScript)</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/fs3ygRM4wHA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'html' %}
		<h2>Analisando Site #19</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/eCVRurLU3r0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<p>Veja a lista completa de sites analisados...</p>
		<p><a href="https://www.youtube.com/watch?v=_PaUw_o9oQI&list=PL4-j1jp_g6DvixDn8gspoU4nriXxDdWUr">Analisando Websites</a>

	{% elsif page.url contains 'logica' %}
		<h2>Aula #8d - Descobrir os dias em C</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/38rowYJTz_U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains '/c/' %}
		<h2>Aula #7d - Média Simples na linguagen C</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/MJhCET-9pDk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% else %}
		<h2>Aula #8e - git commit + git push</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/IlXhDGVKRSU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% endif %}

</div>
