<div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><small>advertising space</small></p>

	{% if page.url contains 'python' %}
		<h2>Aula #12f - Commitando no GitHub</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/iVQ4yz3iES8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'javascript' %}
		<h2>Aula #13a - Números Primos</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/LWdR-6JWR0o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'node.js' %}
		<h2>Aula #13b - Somar Dígitos</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/e2gFNzUUdnk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains 'html' %}
		<h2>Analisando Websites #22</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/uf1pIfj9aVU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<p>Veja a lista completa de sites analisados...</p>
		<p><a href="https://www.youtube.com/watch?v=_PaUw_o9oQI&list=PL4-j1jp_g6DvixDn8gspoU4nriXxDdWUr">Analisando Websites</a>

	{% elsif page.url contains 'logica' %}
		<h2>Aula #13c - Calculando o MDC</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/lRg8adJf13Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% elsif page.url contains '/c/' %}
		<h2>Aula #12e - Equação do 2 grau</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Kg7D6Z-Kpq4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% else %}
		<h2>Aula #12d - Celsius  e  Fahrenheit</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/8N4LedUPqyY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% include /ad/proximas-turmas.html %}

	{% endif %}

</div>


