<!--
<p>Encerramos as inscrições para a turma do 1 semestre de 2018, mas</p>
<p>iremos abrir uma nova turma no segundo semestre deste ano!</p>
<p>Cadastre seu email e descubra mais detalhes sobre este curso!</p>
-->

<!--
<p>Encerradas as inscrições!!!</p>
-->
<p>Vai começar a próxima turma do curso de</p>
<p><strong> Lógica de Programação Aliada a Testes Unitários (TDD) !</strong></p>
<p>Cadastre seu email para a próxima turma!</p>

<p><a class="btn btn-primary" href="/cursos/logica-de-programacao-aliada-a-testes-unitarios-proxima-edicao.php?utm_source=devfuria.com.br&utm_campaign=logica-proximo-curso&utm_medium={{ page.title }}" role="button">Próximas turmas!!!</a></p>
