
<div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><small>advertising space</small></p>

	<p><h2>Analista de Desenvolvimento Java PL</h2></p>

	<p>Estamos trabalhando a posição Analista de Desenvolvimento Java PL para uma empresa de tecnologia,</p>
	<p>líder no segmento, voltada para meios de pagamentos, localizada na Av Paulista (São Paulo).</p>

	<br />

	<p>O profissional irá trabalhar com retaguarda e também com ferramentas web do SITEF</p>

	<br />

	<h3>Requisitos Técnicos:</h3>

	<li>1. Experiência com desenvolvimento em linguagem Java <strong>(imprescindível)</strong></li>
	<li>2. Conhecimento de Banco de Dados e linguagem SQL <strong>(desejável)</strong></li>
	<li>3. Especificação Java EE <strong>(desejável)</strong></li>

	<br />


	<p>Caso atenda aos requisitos acima e tenha interesse, </p>
	<p>informe seus conhecimentos técnicos, último salário ou atual e CV atualizado para:</p>
 	<p><strong>eglefvg@yahoo.com.br</strong></p>

</div>
