/* http://jasonm23.github.io/markdown-css-themes/markdown10.html */
*{margin:0;padding:0;}
body {
    font:13.34px helvetica,arial,freesans,clean,sans-serif;
    color:black;
    line-height:1.4em;
    background-color: #F8F8F8;
}
p {
    margin:1em 0;
    line-height:1.5em;
}
table {
    font-size:inherit;
    font: 100%;
    margin:1em;
}
table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}
select,option{padding:0 .25em;}
optgroup{margin-top:.5em;}
pre,code{font:12px Menlo, Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono",monospace;}
pre {
    margin:1em 0;
    font-size:12px;
    background-color:#f0f0f0;
    padding:5px;
    line-height:1.5em;
    overflow:auto;
    -webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;border-radius:3px;
}
pre code {
    padding:0;
    font-size:12px;
    background-color:#f0f0f0;
    border:none;
    color: #000;
}
code {
    font-size:12px;
    /*background-color:#ffff99;*/
    color: #8b0000;
    padding:0.1em 0.3em;
    border-radius: 3px;
}

img{
    border: 1px solid #f5f5f5;
    padding: 3px;
    max-width: 100%;
}

abbr{border-bottom:none;}
a{color:#4183c4;text-decoration:none;}
a:hover{text-decoration:underline;}
a code,a:link code,a:visited code{color:#4183c4;}
h2,h3{margin:1em 0 0.5em 0;}
h1,h2,h3,h4,h5,h6{border:0;color: #122b3b;}
h1{font-size:170%;border-top:4px solid #aaa;padding-top:.5em;margin-top:1.5em;}
h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
h2{font-size:150%;margin-top:1.5em;border-top:4px solid #e0e0e0;padding-top:.5em;}
h3{margin-top:1em;}
hr{border:1px solid #ddd;}
ul{margin:1em 0 1em 2em;}
ol{margin:1em 0 1em 2em;}
ul li,ol li{margin-top:.5em;margin-bottom:.5em;}
ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0;}
blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}
dt{font-weight:bold;margin-left:1em;}
dd{margin-left:2em;margin-bottom:1em;}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
    -webkit-print-color-adjust: exact;
}



/* Enxertos devfuria */

/* Extra small devices (phones, less than 768px)
 * No media query since this is the default in Bootstrap
 * Small devices (tablets, 768px and up)
 */
@media (min-width: 768px) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .wrap {
        margin:0 auto;
        /*width: 854px;*/
        width: 960px;
    }
    article {
        background-color: #FFFFFF;
        margin-bottom: 15px;
        padding: 3px 10px;
        border-radius: 3px;
        box-shadow: 4px 5px 10px #122b3b;
       -webkit-box-shadow: 4px 5px 10px #000000;
    }
}
@media print {
    table, pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    margin-left: 0px;
    list-style: none;
    background-color: #000;
    border-radius: 4px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}
.breadcrumb > .active {
    color: #999999;
}
h1:first-child {
    color: #122b3b;
    line-height: 1.52em;
    font-size: 300%;
}
h2 {
    color: #122b3b;
    line-height: 1.52em;
    font-size:200%;
    margin-top:1.8em;
    border: none;
}
h3 {
    color: #122b3b;
    margin-top:1.8em;
}
.text-left {text-align: left}
.text-right {text-align: right}
canvas, .canvas {
    background: #ffffff;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    width: 330px;
}


a.link-externo {
  color: #c93900;
  padding-right: 15px;
  background: url(/assets/imgs/icon-external-link.gif) right top no-repeat;
}

a.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
a.list-group-item {
    background-color: #fff;
    border: 1px solid #dddddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #f5f5f5;
    text-decoration: none;
}
footer {
    color: #fff;
    background-color: #000;
    padding-top: 15px;
    padding-bottom: 70px;
    margin-top: 130px;
}
span.regex {
    color: red;
    background-color: #ffff00;
}
/** menssagens inicialmente utilizadas na seção node.js */
#alterta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px 20px;
    background-color: #ffffdd;
    color: #aaa;
}

/*pygmentize -S native -f html > highlight.css*/
pre .hll { background-color: #ffffcc }
pre .c { color: #408080; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #008000; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .cm { color: #408080; font-style: italic } /* Comment.Multiline */
pre .cp { color: #BC7A00 } /* Comment.Preproc */
pre .c1 { color: #408080; font-style: italic } /* Comment.Single */
pre .cs { color: #408080; font-style: italic } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #008000 } /* Keyword.Pseudo */
pre .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #B00040 } /* Keyword.Type */
pre .m { color: #666666 } /* Literal.Number */
pre .s { color: #BA2121 } /* Literal.String */
pre .na { color: #7D9029 } /* Name.Attribute */
pre .nb { color: #008000 } /* Name.Builtin */
pre .nc { color: #0000FF; font-weight: bold } /* Name.Class */
pre .no { color: #880000 } /* Name.Constant */
pre .nd { color: #AA22FF } /* Name.Decorator */
pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
pre .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
pre .nf { color: #0000FF } /* Name.Function */
pre .nl { color: #A0A000 } /* Name.Label */
pre .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
pre .nt { color: #008000; font-weight: bold } /* Name.Tag */
pre .nv { color: #19177C } /* Name.Variable */
pre .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #666666 } /* Literal.Number.Bin */
pre .mf { color: #666666 } /* Literal.Number.Float */
pre .mh { color: #666666 } /* Literal.Number.Hex */
pre .mi { color: #666666 } /* Literal.Number.Integer */
pre .mo { color: #666666 } /* Literal.Number.Oct */
pre .sb { color: #BA2121 } /* Literal.String.Backtick */
pre .sc { color: #BA2121 } /* Literal.String.Char */
pre .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #BA2121 } /* Literal.String.Double */
pre .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #BA2121 } /* Literal.String.Heredoc */
pre .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
pre .sx { color: #008000 } /* Literal.String.Other */
pre .sr { color: #BB6688 } /* Literal.String.Regex */
pre .s1 { color: #BA2121 } /* Literal.String.Single */
pre .ss { color: #19177C } /* Literal.String.Symbol */
pre .bp { color: #008000 } /* Name.Builtin.Pseudo */
pre .vc { color: #19177C } /* Name.Variable.Class */
pre .vg { color: #19177C } /* Name.Variable.Global */
pre .vi { color: #19177C } /* Name.Variable.Instance */
pre .il { color: #666666 } /* Literal.Number.Integer.Long */