/*
 *
 *
 */
 *{
     font-size: 12px;
     font-family: Verdana;
     
}

label{
    
    float:left;
    width: 150px;
}
input#nome {
    /*
        Testado em navegadores diferentes (Firefox 4.0, IE7, Chrome 11.0).
        Houve divergências nas propriedades (background-color: e color:).
    */
    font-style: italic;
    background-color:cornsilk;
    color:deeppink;
    border-color: black;
    border-top:2px solid;
    border-left:2px solid;
    border-right:2px solid;
    border-bottom:2px solid;

}
input#idade{
    /*
        Nos navegadores (Firefox 4.0, Chrome 11.0) as bordas são "invisiveis".
        Já no IE7, as bordas são visiveis.
    */
    
    border-top:5px ;
    border-left:5px;
    border-right:5px;
    border-bottom:5px;

}




/* --------------------------------------------- */

