/*
 *
 *
 */
 *{
     font-size: 15px;
     font-family: Verdana;
}



option.zebra0{
    background: blueviolet;
}
option.zebra1{
    background: darkorange;
}















/* --------------------------------------------- */

