<div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><small>advertising space</small></p>

    <h2>Primeira aula do curso já está disponível!!!</h2>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/N6TmF9EyLwQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/FbgMeSWKAQ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/7WxqhsXtTtQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lgzcBc1E-g0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <!-- <iframe width="304" height="171" src="https://www.youtube.com/embed/JZpE9QuFUbo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <!-- <iframe width="304" height="171" src="https://www.youtube.com/embed/DYpIWqmGhZg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Ua6sHnlNFws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/SnCoxHMBcqQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/lgpCyunRRSw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/2Jo55hFE69U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AxUBkS84C9o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


    <p><a href="/cursos/logica-de-programacao-aliada-a-testes-unitarios-edicao-02-2018/" role="button">Veja mais detalhes sobre o curso.</a></p>
    <p><a class="btn btn-primary" href="https://goo.gl/forms/LCWvmFIUr747EXai2 " role="button">Cadastre-se aqui!!!</a></p>

    <!-- <p><a class="btn btn-primary" href="/logica-de-programacao/curso-de-logica.php?utm_source=devfuria.com.br&utm_campaign=logica-jan-2018&utm_medium={{ page.title }}" role="button">Cadastre-se aqui!!!</a></p> -->

</div>