html {
    color: #404040;
    font: sans-serif;
}
body {
/*     margin: 5%; */
/*     padding: 0; */
}
main {
    border: 1px solid #000;
/*     text-align: center; */
/*     width: 400px; */
}
img {
    border: 5px double  #f5f5f5;
    width: 90%;
    margin: auto auto;
    display: block;
}
h2 {
    text-align: center;
    margin: 1% 1%;        
}
p {
    border: 1px solid #000;
    margin: 1% 1%;        
    text-align: justify;
}

