.page-header {
    margin: 2px 0 20px;
}
h2 {
    color: #122b3b;
    line-height: 1.52em;
    font-size: 150%;
    border: none;
}
h3 {
    color: #122b3b;
    font-size: 120%;
}

/* melhor padding do que magin, pois assim o # funciona */
h2, h3, h4 {
    margin-top:0;
}
article h2, article h3, article h4 {
    padding-top: 2em;
}
article {
    margin-bottom: 100px;
}

a {
    color: #00A2E8;
}
a.link-externo {
  color: #c93900;
  padding-right: 15px;
  background: url(/app/assets/imagens/icon-external-link.gif) right top no-repeat;
}
a:hover, a:focus {
    color: #666;
}
table {
    font-size:inherit;
    font: 100%;
    margin:1em;
}
table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
table td{border-bottom:1px solid #ddd;padding:.2em 1em;}

code {
    color: #333;
    background-color: #f8f8f8;
}

/* Desabilitando bootstrap */
pre {
    /*padding: 0;*/
    /*margin: 0;*/
    /*color: none;*/
    background-color: #f8f8f8;
    /*border: none;*/
    /*border-radius: 4px;*/
}


canvas, .canvas {
    background: #ffffff;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    width: 330px;
}


/* footer */
#footer {
    margin-top: 100px;
	background: #222;
	text-align: center;
	padding: 40px 0;
	color: #FFF;
}

.copyright {
	margin: 0;
}

.copyright a{
    border-bottom: 1px dotted #fff;
}

#footer span{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 36px;
	height: 36px;
	display: block;
	line-height: 35px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, .1);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	font-size: 14px;
	color: rgba(255, 255, 255, .2);
}

.social-links a:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .8);
}
