
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0;
	background: #0F0F0F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #464646;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #549900;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 18px;
}

h3 {
}

p, ul, ol {
	margin-top: 0;
	line-height: 200%;
	text-align: justify;
}

ul, ol {
}

blockquote {
}

a {
	color: #D39000;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr {
	display: none;
}

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}


/* Header */

#header-wrapper {
}

#header {
	width: 940px;
	height: 62px;
	margin: 0 auto;
	padding: 0px;
	background: url(images/img03.jpg) repeat-x left top;
}

/** LOGO */

#logo {
	width: 940px;
	height: 110px;
	margin: 0 auto;
	padding: 30px 20px 0px 20px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	margin-top: -4px;
	text-transform: lowercase;
	font-size: 13px;
	color: #F6F9FB;
}

#logo h1 {
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #F6F9FB;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: left;
	width: 600px;
	height: 62px;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
	height: 62px;
	background: url(images/img04.jpg) no-repeat right top;
}

#menu a {
	display: block;
	float: left;
	height: 39px;
	margin-right: 3px;
	padding: 23px 25px 0px 25px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu a:hover {
	background: url(images/img06.jpg) repeat-x left top;
	text-decoration: none;
}

#menu .current_page_item a {
	background: url(images/img06.jpg) repeat-x left top;
}

#menu .first {
}

/* Search */

#search {
	float: right;
	width: 280px;
	padding: 15px 20px 0px 0px;
}

#search form {
	float: right;
	margin: 0;
	padding: 4px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
}

#search-text {
	width: 174px;
	height: 18px;
	padding: 2px 0 2px 5px;
	border: none;
	background: #EFEFDF;
	color: #000000;
}

#search-submit {
	width: 70px;
	height: 22px;
	margin-left: 10px;
	padding: 0px 5px;
	background: url(images/img05.jpg) no-repeat left top;
	border: none;
        text-indent: -999999px;  
        color: #FFFFFF;
}

#splash {
	overflow: hidden;
	width: 940px;
	height: 300px;
	margin: 0px auto;
	background: url(images/img02.jpg) no-repeat right top;
}

#splash .col1 {
	float: left;
	width: 660px;
}

#splash .col2 {
	float: right;
	width: 280px;
}

#splash blockquote {
	margin: 0px;
	padding: 50px 30px;
	text-shadow: 1px 1px 4px #BC2A00;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	font-style: italic;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 20px 20px 0px 20px;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	float: left;
	width: 620px;
}

/* Post */

.post {
	margin-bottom: 20px;
	padding: 30px 40px;
	background: #050505 url(images/img07.jpg) no-repeat right bottom;
}

.post .title {
	height: 44px;
	padding: 0px 0px 5px 0px;
	font-weight: normal;
}

.post .title a {
	letter-spacing: -2px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 38px;
	color: #FFFFFF;
}

.post .date {
}

.post .meta {
	height: 32px;
	margin-top: -10px;
	margin-left: 2px;
	padding: 4px 30px 6px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a {
}

.post .entry {
}

.post .links {
	background: #90BF35;
	border: 1px solid #5F817E;
}

.post .links {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px 0px 4px 0px;
	padding: 3px 0px 0px 40px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px;
	padding: 3px 0px 0px 40px;
	background: #90BF35;
	border: 1px solid #5F817E;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	border: none;
}

#sidebar li {
	margin-bottom: 20px;
	padding: 40px;
	background: #050505 url(images/img07.jpg) no-repeat right bottom;
}

#sidebar li ul {
	margin: 0px 0px;
	border: none;
}

#sidebar li li {
	margin: 0;
	padding: 0px 0px 10px 0px;
	border: none;
	background: none;
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
	font-weight: normal;
	border: none;
}

#sidebar li li a:hover {
	color: #666666;
}

#sidebar p {
	margin: 0;
}

#sidebar h2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 28px;
	font-weight: normal;
	color: #FFFFFF;
}

#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: 14px;
	color: #0F0F0F;
}

#footer a {
	color: #0F0F0F;
}
