<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include bread-crumb.html %}
        </div>
      </div>
    </div>

    {% include /ad/index.html %}

    <article class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="page-header">
            <h1>{{ page.title }} <br /><small>{{page.description}}</small></h1>
          </div>
          {{ content }}
        </div>
        <div class="col-md-3 hidden-xs">
          <!-- <nav id="toc" data-toggle="toc" data-spy="affix">
            <p>Neste artigo...</p>
          </nav> -->
          <p>Neste capítulo...</p>
          {% include get-capitulo.html page_serie=page.capitulo %}
          {% include menus.html %}
          <p class="text-center">
              <a class="btn btn-default" href="{{ '../' | prepend: site.baseurl }}">Índice</a>
          </p>
        </div>
      </div>
    </article>

    {% include /nav-next-prev.html %}

    <hr />

    {% include disqus.html %}

    {% include footer.html %}
    {% include footer-js.html %}

  </body>
</html>

