---
layout: base
---

<div class="grid grid-pad">
    <div class="col-1-1">
        {% include breadcrumb.html %}
    </div>

    <div class="col-9-12">
        <article  class="content">
            <header>
                <h1>{{ page.title }}</h1>
                <small>{{ page.date | date: "%-d-%b-%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small>
            </header>
            {{ content }}
        </article>
    </div>
    <div class="col-3-12">
        <div class="content">
            {% if page.menu == "html-forms" %}
                {% include menu-html-forms.html %}
            {% else %}
                {% if page.menu == "html-elementos" %}
                    {% include menu-html-elementos.html %}
                {% else %}
                    {% if page.menu == "html-artigos" %}
                        {% include menu-html-artigos.html %}
                    {% else %}
                        {% if page.menu == "mysql" %}
                            {% include menu-mysql.html %}
                        {% else %}
                            {% if page.menu == "regex" %}
                                {% include menu-regex-metacaracteres.html %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>