        <div class="jumbotron" style="padding-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="pagination">Navegue nesta série!</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Anterior -->
                    <div class="col-md-6">
                        {% if page.prev %}
                            <p>
                                <a class="btn btn-default btn-lg btn-block pagination" href="{{ base_url() }}{{ page.prev.url }}">
                                    <img src="{{ base_url() }}/app/assets/imagens/prev-page.png" />
                                    <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
                                   {{ page.prev.tittle | slice(0, 30) }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                    <!-- Próximo -->
                    <div class="col-md-6">
                            {% if page.prev %}
                            <p class="text-right">
                                <a class="btn btn-success btn-lg btn-block pagination" href="{{ base_url() }}{{ page.next.url }}">
                                    {{ page.next.tittle | slice(0, 30) }}
                                    <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
                                    <img src="{{ base_url() }}/app/assets/imagens/next-page.png" />
                                </a>
                            </p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

<?php endif ?>
