
<div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><small>advertising space</small></p>

		{% if page.url contains 'python' %}
			<h2>Aula #6a - Antecessor e Sucessor em Python</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/FTQYhHKK7QA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% elsif page.url contains 'javascript' %}
			<h2>Aula #6b - Antecessor e Sucessor em Node (JavaScript)</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/-RVvi1sYes4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% elsif page.url contains 'node.js' %}
			<h2>Aula #6b - Antecessor e Sucessor em Node (JavaScript)</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/-RVvi1sYes4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% elsif page.url contains 'html' %}
			<h2>Respondendo Dúvidas GitHub #06</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/vqhyHd6vIQA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% elsif page.url contains 'logica' %}
			<h2>Aula #6c - Antecessor e Sucessor em C</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/XC1ciNZWtd8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% elsif page.url contains '/c/' %}
			<h2>Aula #6c - Antecessor e Sucessor em C</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/XC1ciNZWtd8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% else %}
			<h2>Aula #6d - git commit + git push</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Mh_y4s9wRUk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% endif %}

	{% include /videos/proximas-turmas.html %}

</div>
