
<div class="alert alert-info alert-dismissible text-center" role="alert">
    <p><small>advertising space</small></p>

		{% if page.url contains 'python' %}
			<h2>Aula #5b - Área Quadrada em Python</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/bdV-9Ndk4ME" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% elsif page.url contains 'javascript' %}
			<h2>Aula #5c - Área Quadrada em Node.js (JavaScript)</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/bKdBeuSmryo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		{% elsif page.url contains 'html-css' %}
			<h2>Aula #5d - Área Quadrada em C</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/SZqKDfdfTf4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>		

		{% else %}
			<h2>Aula #5e - git commit + git push</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/gB9ze4pUjU0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>		

		{% endif %}

	{% include /videos/proximas-turmas.html %}

</div>
